body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    background-color: goldenrod;
    color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}

footer {
    background-color: goldenrod;
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#formularz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5vw;
}

#webcenter {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
}

.choose {
    margin: 5px;
    background-color: red;
    border-radius: 30%;
    border-color: black;
    color: white;
}

#text {
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        display: flex;
        background-color: goldenrod;
        color: black;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    footer {
        background-color: goldenrod;
        color: black;
        text-align: center;
        flex-wrap: wrap;
        width: 100vw;
    }
    #formularz {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5vw;
        flex-wrap: wrap;
    }
    #webcenter {
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
    }
}

#tableView,
#forms {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}